<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form methods="get" action="/quizes">
		<input type="text" name="search" />
		<input type="submit" value="Buscar">
	</form>
	<table>
		<tr>
			<th>Indice temático</th>
			<th>Pregunta</th>
			<th></th>
			<th></th>
		</tr>
	<% var i; for(i=0; i < quizes.length; i++) { %>
		<tr>
			<td>
				<% switch(quizes[i].tematica){ 
						case 'otro': %> Otro <%break;%>
						<% case 'humanidades': %> Humanidades <%break;%>
						<% case 'ocio': %> Ocio <%break;%>
						<% case 'ciencia': %> Ciencia <%break;%>
						<% case 'tecnologia': %> Tecnología <%break;%>
				<% } %>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
						borrar
					</button>
				</form>
			</td>
		</tr>
	<% } %>
	</table>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</body>
</html>